body, html {
    margin: 0;
    color: black;
    font-family: Century Gothic;
    color: black;
    background-color: white;
    height: 100%;
}
header{
    top:0; left:0;
    height:70px;
    background-color:#3d3d46;
    border-bottom:0px solid #eee;
    padding: 5px;
}
header img {
    margin-left: 10px;
}
/* ymdal dealer logo */
#logo {
    height: 55px;
    margin-top: 10px;
}
/* timeline button */
#timelinebtn {
    padding: 5px;
    margin: 12px;
    border-radius: 5px;
    background-repeat: no-repeat; 
    background-image: url("../img/whitetruck.png");
    background-color: #d42020;
    background-position: 5px;
    background-size: 20px 20px;
    color: white;
    border: 0;
    font-family: Century Gothic;
    font-size: 18px;  
    padding-left: 30px;
}
nav {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 70%;
}
/* for accordion arrow button */
#dealer-content img{
    height: 15px;
    width: 15px;
    float: right;
    padding: 10px;
}
/* hide accordion details on run */
#more-details {
    display: none;
}
.ymdaldealer {
    display: flex;
}
/* for ymdal dealer text */
.left-side-dealer{
    width: 50%;
    float: left;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 17px;
}
/* for exit button */
.right-side-dealer{
    width: 50%;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
}
/* for exit button */
.right-side-dealer button {
    padding: 5px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-image: url("../img/exit.png");
    background-color: #d42020;
    background-size: 18px 18px;
    color: white;
    border-style: none;
    background-position: 40px;  
    padding-right: 28px;
}
/* info inside accordion */
.per-info {
    border-bottom: .5px solid #eee;
    display: flex;
}
/* left side inside accordion */
.left-side {
    width: 50%;
    margin-right: 10px;
}
/*right side inside accordion  */
.right-side {
    width: 55%;
}
/* paragraphs inside accordion */
.right-side p, .left-side p{
    float: left;
    text-align: left;
}
/* backload table */
#backloadreason-content {
    /*display: none;*/
}
/* table designs */
#table-content th, #backloadreason-content th {
    padding: 5px;
    text-align: left;
    width: 18%;
    font-weight: bold;
}
/* table designs */
#table-content td, #backloadreason-content td{
    padding: 5px;
    text-align: left;
    width: 18%;
}
/* table designs */
#table-content table, #backloadreason-content table {
    width: 90%;
    border: 1px solid #eee;
    border-collapse: collapse;
    margin-bottom: 20px;
}
#table-content, #backloadreason-content {
    font-size: 60%;
}
/* search design */
#search {
    width: 40%;
    height: 20px;
    padding: 5px;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #eee;
    float: right; 
    background-image: url("../img/search.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;   
    background-position: 5px;
    padding-left: 25px;
}