body, html {
    margin: 0;
    color: black;
    font-family: Century Gothic;
    color: white;
    background-color: #2e2e36;
}
/* header logo content */
#logo-content {
    width: 100%;
    height: 30%;
    background-color: #3d3d46;
}
/* logo design */
#logo {
    margin-top: 20%;
    margin-bottom: 5%;
    width: 70%;
    height: 30%;
}
/* check dr form */
#login-form, #message-form {
    width: 100%;
    height: 70%;
    margin-top: 10%;
}
/* check dr form */
#login-form input, button, #message-form button{
    font-family: Century Gothic;
    font-size: 16px;
    border-radius: 8px;
    display: table-cell;
    /*padding: 5px;*/
}
/* check dr form inputs */
#login-form input {
    background-color: #3d3d46;
    color: white;
    width: 70%;
    height: 35px;
    border: 0px;
    padding-left: 50px;
}
/* check dr form button */
#login-form button, #message-form button {
    height: 40px;
    background-color: #d42020;
    color: white;
    border-style: none;
}
#login-form button{
    width: 50%;
}
#message-form button{
    width: 30%;
}
#message-form {
    display: none;
}
#message-dialog {
    width: 70%;
    margin-bottom: 3px;
    border-radius: 8px;
    font-size: 15px;
    background-color: #3d3d46;
    color: white;
    padding: 2px;
}
#message-dialog p {
    text-align: center;
}
/* icons on button and inputs */
#outletcode, #drno, #login-form button, #message-form button{
    background-size: 16px 16px;
    background-repeat: no-repeat;   
    background-position: 10px;
}
/* icons */
#outletcode {
    background-image: url("../img/outletcode.png");
}
#drno {
    background-image: url("../img/drnumber.png");
}
#login-form button, #message-form button {
    background-image: url("../img/check.png");
}
/* for error dialogs */
#error-dialog{
    display: none;
    width: 70%;
    margin-bottom: 3px;
    border: 0;
    color: red;
    font-size: 12px;
}